/*
Cascading Excercise
Author: bodonoghue
Version: 09.09.2020*/
#personal {
color: #00FFFF;
border: 5px inset green;
background-color: grey;
margin-left: -3px;
}
.credential-wrapper {
color: #228B22;
border: 5px inset blue;
background-color: black;
}
